h2 {
	text-align: center;
	color:darkblue;
}

ul {
	color:green;
}

body { 
	background-color:lightblue;
    margin-top: 50px;
    margin-bottom: 50px;
    margin-right: 100px;
    margin-left: 100px;   
    border: 1px solid red;
   	margin-left: 100px;
}

 p { text-align: center}




.numbers {
	font-variant-numeric: 1-10
}



.tran-form {
	background-color:#CEF6F5;
}

.input-field {
border: solid 2px blue;
font:20px;
}

#Intensity-heading {
	color: pink;
}

#Enjoyment-heading {
	background-color: pink;
}